/* Make animation to slide in from right? */
div.drawer {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  padding: 15px;

  div.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      align-items: center;
    }
  }
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

div.overlay.visible {
  opacity: 1;
}