div.dropdown {
  position: relative;
}

div.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 125%;
  border: 1px solid var(--second-text-color);
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 9999;
  padding: 10px;

  * {
    color: var(--primary-color);
  }
}